@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@588;700&family=Dancing+Script:wght@400;500&display=swap');

html{ 
    scroll-behavior: smooth;
}
body {
    font-family: "Advent Pro", sans-serif;
    padding: 0;
    margin: 0;
}
li { 
    list-style-type: none;
    justify-content:space-between;
}
h2 {
    font-family:"Dancing Script" ;
    background-color:  rgb(255, 255, 255);
    opacity: 0.8;
    transition: opacity, 5
    
    
    
    s ease-in;
    text-align: center;
    padding-top: auto;
    font-size: 1.9em;
} 
h5 {
    font-family:"Advent Pro";
}
p {
    font-family: 'Courier New', Courier, monospace ,cursive;
    text-align: center;
}
a {
    text-decoration: none;
    color: black
}
#plan{
    text-align: center;
}

/* ************************** NAVBAR ********************** */
nav {
    overflow: hidden;
    background-color: rgb(224, 159, 170);
    position: fixed;
    width: 100%;
    opacity: 0.7;
}
header li {
    float: right;
    font-size: 1.8mm;
} 
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
span {
    padding: 10px 30px 20px 30px;
    font-family: "Dancing Script";
    font-weight: bolder;
    font-size: 1.2em;
    display:inline-block;
}
span:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3 ease-in-out;
}

#nouscontacter {
    font-family: "Dancing Script"; 
    font-size: 1em;
}

#réserver {
    background-color: white;
    font-family: "Dancing Script";
    font-size: 1em;
}

#langue { 
    font-family: "Dancing Script";
    font-size: 1em;
}

/* ************************* IMAGE PRINCIPALE ***************** */
#imagePrincipale {
    text-align: center;
    color: white;
    padding: 10px 2px 1px;
    padding-top: 100px;
    background: url(BEAUTE\ DU\ CIL/salon.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 520px;
    text-shadow: 1px 2px 3px black;

}
h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: black;
    text-shadow: 1px 2px 3px white;
    font-size: 1.6em;
    margin-top: 30px;
}

    /* ***************** PRESENTATION *************** */
#presentation {
    background-color: rgb(226, 198, 203);
    padding: 10px 0 100px 0;
}
#textIntro {
    padding: 0px 20%;
}
#icons {
    font-size: 2em;
}
#prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.imagesPrestations h4 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img{
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgb(8, 8, 8);
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

/* ********************EGERIE******************* */
#egerie{
    height: 1400px;
    padding: 10px;
    padding-top: 10px;
    display:inline-flex;
}
#Carla{
    background: url(BEAUTE\ DU\ CIL/carla1.jpg) no-repeat;
}
#Camille{
    background: url(BEAUTE\ DU\ CIL/camille1.jpg) no-repeat;
}
#Maeva{
    background: url(BEAUTE\ DU\ CIL/maeva1.jpg) no-repeat;
}
#Emilie{ 
    background: url(BEAUTE\ DU\ CIL/emilie1.jpg) no-repeat;
}
#egerie li{
    margin: 50px 20px 0 100px;
    height: 260px;
    width: 60%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px 3px white;
}
#egerie p{
    font-family: "Dancing Script";
    height: 50px;
    width: 235px;
    background-color: white;
    float: right;
    margin: 50px -180px 0 0; 
    font-size: 1.5em;
    padding-top: 50% 50%;
    box-shadow: white;
}
#egerie #Camille, #egerie  #Emilie{
    float: right;
}
#Camille p, #Emilie p {
    float: left;
    background-color: thistle;
    margin-left: -180px;
}

.ombre_droite_haut {
    box-shadow: 60px -16px teal;
}

/* ***************FOOTER*************** */
footer{
    background-color: rgb(233, 213, 213);
    color: rgb(8, 8, 8);
    padding: 20px 0 10px 0px;
    text-align: center;
}
#calendrier{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px 45%;
}
form {
    margin: auto;
    max-width: 900px;
}
input, textarea, button{
    border: none;
    width: 50%;
    padding: 7px 7px;
    margin: 1px 0;
    font-size: 1em;
    font-family: "Advent Pro", sans-serif;
    border-radius: 3px;
}
textarea {
    height: 90px;
}
button{
     font-size: 1.3em; 
     background-color: white;
     font-family: Dancing Script;
}
button:hover {
    background-color:  rgb(235, 165, 177);
    cursor: pointer;
    transition: 0.3 ease-in-out;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: 30px auto;
    background-color: rgb(230, 148, 148);
   
}
#deuxiemeTrait{
    height: 1px;
    width: 25%;
    margin: 40px auto;
    background-color: rgb(230, 148, 148);
    box-shadow: 1px 3px 5px black;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 1 10%;
}
#copyright{
    width: 30%;
    text-align: left;
    color: rgb(99, 91, 91);
}
#icons a{
    display: inline-block;
    padding: 0px 10px 50px 20px;
    font-size: 1.2em;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.3s;
}